body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5x;
}
.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    border: 5px solid black; 
    max-width: 100%;
    width: 960px;
    aspect-ratio: 1/1;
}

.square{
    width: 35px;
    aspect-ratio: 1/1;
    background-color: gray;
    color: white;
    border: 1px solid black; 
    font-size: 3vw;
    opacity: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex:1;

    /* Transition both background color and opacity smoothly */
    transition: background-color 0.4s ease, opacity 0.2s ease;
}

.row{
    display: flex;
    flex: auto;
}